<% if Spree::Edrone.current and Spree::Edrone.current.active %>
    <script type="text/javascript">
        (function (srcjs) {
            window._edrone = window._edrone || {};
            _edrone.app_id = '<%= Spree::Edrone.current.edrone_app_id  %>';
            _edrone.version = '<%= SpreeEdrone.version %>';
            _edrone.platform = 'spreecommerce';
            <% if defined?spree_current_user.email %>
                _edrone.email = '<%= spree_current_user.email %>'; 
            <% end %>
            <% if defined?current_spree_user.bill_address.firstname %>
              _edrone.first_name = '<%= current_spree_user.bill_address.firstname %>'; 
            <% end %>
            <% if defined?current_spree_user.bill_address.lastname %>
              _edrone.last_name = '<%= current_spree_user.bill_address.lastname %>'; 
            <% end %>
            <% if defined?current_spree_user.bill_address.phone %>
              _edrone.phone = '<%= current_spree_user.bill_address.phone %>';
            <% end %>
            <% if defined?current_spree_user.bill_address.city %>
              _edrone.city = '<%= current_spree_user.bill_address.city %>';
            <% end %>
            var doc = document.createElement('script');
            doc.type = 'text/javascript';
            doc.async = true;
            doc.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + srcjs;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(doc, s);
        })("//d3bo67muzbfgtl.cloudfront.net/edrone_2_0.js?app_id=<%= Spree::Edrone.current.edrone_app_id  %>");
    </script>
<% end %>
