<% if Spree::Edrone.current and Spree::Edrone.current.active %>
  <script>
    !(function() {
      let edrone_product = <%= product_for_segment(@product, image: @product.images.first)  %>
      window._edrone = window._edrone || {};
      _edrone.product_ids = edrone_product.product_id;
      _edrone.product_skus = edrone_product.sku;
      _edrone.product_titles = edrone_product.name ; 
      _edrone.product_images = edrone_product.image_url;  
      _edrone.product_urls = edrone_product.url;
      _edrone.product_category_ids = edrone_product.category_id;
      _edrone.product_category_names = edrone_product.category;
      _edrone.action_type = 'product_view';
    })()
  </script>
<% end %>